.home {
  display: flex;
  align-items: center;
  gap: 7.5rem;
}

.home-img {
  position: relative;
  width: 25.5rem;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  max-width: 700px;
  height: 17.625rem;
}

.home-text h1 {
  display: flex;
  font-weight: 500;
}

.palavra-animada {
  position: relative;
  height: 1.3em;
  overflow: hidden;
}

.palavra-animada .lista {
  display: flex;
  flex-direction: column;
  animation: subirPalavra 9s infinite;
}

.lista span {
  height: 1.2em;
  transition: transform 0.7s ease-in-out;
  color: var(--text-color);
}

.lista .palavras {
  color: #ff9448;
}

@keyframes subirPalavra {
  0%,
  20% {
    transform: translateY(0);
  }
  25%,
  45% {
    transform: translateY(-1.2em);
  }
  50%,
  70% {
    transform: translateY(-2.4em);
  }
  75%,
  90% {
    transform: translateY(-3.6em);
  }
  100% {
    transform: translateY(0);
  }
}

.home-text p {
  font-size: 1.375rem;
  max-width: 34.375rem;
  text-align: justify;
}

.home-btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.625rem 2.5rem;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  transition: transform 0.2s ease-in-out;
  z-index: 1;
}

@media (min-width: 320px) {
  .home {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
  }

  .home img {
    width: 80%;
  }

  .home-text {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .home-text h1 {
    flex-direction: column;
    font-size: 1.88rem;
  }

  .home-text p {
    font-size: 1.15rem;
  }
}

@media (min-width: 768px) {
  .home {
    gap: 1rem;
  }

  .home img {
    display: block;
    width: 40%;
  }

  .home-text {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .home-text h1 {
    flex-direction: row;
    font-size: 2.2rem;
  }

  .home-text p {
    font-size: 0.9rem;
  }

  .home-button a {
    font-size: 1.1rem;
    padding: 0.7rem 3.125rem;
  }
}

@media (min-width: 1024px) {
  .home {
    flex-direction: row;
    gap: 5rem;
  }

  .home img {
    width: 35%;
  }

  .home-text {
    max-width: 36.9rem;
    text-align: left;
  }

  .home-text p {
    font-size: 1.375rem;
    width: 100%;
    text-align: left;
  }
}

@media (min-width: 1280px) {
  .home {
    gap: 7.5rem;
  }

  .home img {
    width: 46%;
  }

  .home-text {
    max-width: 44.6rem;
    align-items: start;
  }

  .home-text h1 {
    font-size: 2.65rem;
  }

  .home-text p {
    font-size: 1.375rem;
    max-width: 38rem;
    text-align: start;
  }

  .home-btn:hover {
    transform: scale(1.03);
  }
}
