.home {
  display: flex;
  align-items: center;
  gap: 7.5rem;
}

.home-img {
  position: relative;
  width: 25.5rem;
  animation: move 6s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  max-width: 700px;
}

.home-text h1 {
  display: flex;
  font-weight: 500;
}

.palavra-animada {
  position: relative;
  height: 1.3em;
  overflow: hidden;
}

.palavra-animada .lista {
  display: flex;
  flex-direction: column;
  animation: subirPalavra 9s infinite;
}

.lista span {
  height: 1.2em;
  transition: transform 0.7s ease-in-out;
  color: var(--text-color);
}

.lista .palavras {
  color: var(--secondary-color);
}

@keyframes subirPalavra {
  0%,
  20% {
    transform: translateY(0);
  }
  25%,
  45% {
    transform: translateY(-1.2em);
  }
  50%,
  70% {
    transform: translateY(-2.4em);
  }
  75%,
  90% {
    transform: translateY(-3.6em);
  }
  100% {
    transform: translateY(0);
  }
}

.home-text p {
  font-size: 1.375rem;
  max-width: 550px;
  text-align: justify;
  margin-bottom: 15px;
}

.home-button {
  transition: transform 0.2s ease-in-out;
}

.home-button a {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 40px;

  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  box-shadow: 3px 3px 5px var(--background-color);
  transition: background-color 0.3s ease;
}

@media (min-width: 320px) {
  .home {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
  }

  .home img {
    width: 80%;
  }

  .home-text {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .home-text h1 {
    font-size: 2.1rem;
  }

  .home-text p {
    font-size: 1.15rem;
  }
}

@media (min-width: 768px) {
  .home {
    gap: 1rem;
  }

  .home img {
    display: block;
    width: 40%;
  }

  .home-text {
    text-align: center;
  }

  .home-text h1 {
    font-size: 2.4rem;
  }

  .home-text p {
    max-width: 500px;
    font-size: 1.35rem;
  }
}

@media (min-width: 1024px) {
  .home {
    flex-direction: row;
    gap: 5rem;
  }

  .home img {
    width: 30%;
  }

  .home-text {
    max-width: 36.9rem;
  }

  .home-text p {
    font-size: 1.375rem;
    max-width: 32rem;
  }
}

@media (min-width: 1280px) {
  .home {
    gap: 7.5rem;
  }

  .home img {
    width: 34%;
  }

  .home-text {
    max-width: 44.6rem;
    align-items: start;
  }

  .home-text h1 {
    font-size: 2.5rem;
  }

  .home-text p {
    font-size: 1.375rem;
    max-width: 38rem;
  }

  .home-button:hover {
    transform: scale(1.1);
  }
}
