.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  border: 1px solid rgba(255, 255, 255, 0.372);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.504);
}

.swiper-slide img {
  display: block;
  margin: 0 auto;
  width: 14rem;
  object-fit: fill;
  transition: transform 0.3s ease-in-out;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  text-align: center;
  padding: 1.6rem;
}

article h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text-color);
}

article p {
  font-size: 1rem;
  color: #ffffffbf;
}

article a {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.8rem 1.25rem;
  border-radius: 0.3125rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  margin-top: -1.875rem;
  cursor: pointer;
  /* border-radius: 50%;
  background-color: var(-); */
  color: var(--text-color);
  z-index: 10;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.6rem;
  font-weight: 900;
}

/* Responsividade */

/* Telas menores celulares */
@media (max-width: 320px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 50%;
    margin-top: 0;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    /* font-size: 1rem; */
    font-weight: 700;
  }
}

/* Telas medias tablets */
@media (min-width: 768px) {
  .swiper {
    width: 60%;
  }
}

/* Telas maiores laptops */
@media (min-width: 1024px) {
  .swiper {
    width: 75%;
  }
}

/* Telas maiores laptops */
@media (min-width: 1280px) {
  .swiper {
    width: 90%;
  }
}
